$theme_bg_color:rgb(23, 218, 49);
$theme_txt_color:white;
body{
    color: $theme_txt_color;
    background-image: url("/img/background.png");
    background-size: cover;
    
    #header {
        img{
            width: 50px;
        }
        nav{
            padding: 0px;

            ul{
                width: 100%;
            }
        }
        
    }
}

#secondNav{
    background-color: grey;
    height: 25px;
    color: $theme_txt_color;
}

#firstNav{
    background-color: $theme_bg_color;
}

#searchIcon{
    color: $theme_bg_color;
}

#loginButton{
    background-color: $theme_bg_color;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#footer{
    width: 100%;
    background-color: $theme_bg_color;
    position: absolute;
    bottom: 0;
}

#women_dresses{
    height: 350px;

    img{
        height: 350px;
    }
}
