$theme_bg_color: linear-gradient(#b3d56c, #a1cd45, #9acb3c);
$theme_bg_color_dark: #378338;
$theme_txt_color: white;

//overriding bootstrap css here but didn't work
:root {
  --bs-nav-link-color: white !important;
}

html,
body {
  color: $theme_txt_color;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    45deg,
    #b3d56c,
    #a1cd45,
    #9acb3c,
    green,
    rgb(0, 27, 0)
  );
  #header {
    img {
      width: 50px;
    }

    nav {
      padding: 0px;
      margin: 0px;

      ul {
        width: 100%;
      }
    }
  }
}

#secondNav {
  background-color: $theme_bg_color_dark;
  font-size: 12pt;
  @media (max-width: 762px) {
    font-size: 18pt;
  }
}

#firstNav {
  background: $theme_bg_color;
}

#searchIcon {
  color: $theme_bg_color;
}

#loginButton {
  background-color: $theme_bg_color_dark;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#footer {
  width: 100%;
  background-color: $theme_bg_color_dark;
  margin-top: 50px;
  div{
    justify-content: center;
    text-align: center;
  }
}

.card {
  color: black;
  text-align: center;
  display: inline-block;
  margin: 2px 4px 2px 4px;
  p {
    text-align: left;
  }
  img {
    height: 180px;
  }
}

#women_dresses {
  .carousel-inner {
    text-align: center;
  }
}

button {
  background-color: $theme_bg_color_dark;
  color: $theme_txt_color;
}

#body {
  //min-height: 70vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.toast {
  color: black;
}

li{
  align-items: center;
}

a.nav-link{
  color: $theme_txt_color;
}

a.nav-link:active{
  font-weight: bold;
  font-size: larger;
}